<div ng-controller="artCtrl">
    <div class="inform panel panel-default container-fluid">
        <div class="panel-body">
            <form class="inform-box form-inline row">
                <div class="inform-date form-group">
                    <div>
                        <label class="date-build control-label" for="dtp_input">修改时间</label>
                        <div id="date1" class="date-box input-group date form_date" data-date="" data-date-format="yyyy mm dd" data-link-field="dtp_input" data-link-format="yyyy-mm-dd">
                            <input ng-model="strDate" ng-change="str()" class="date-control form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="date-calendar glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input id="dtp_input" type="hidden" value=""/><br/>
                    </div>
                    <div>
                        <label class="date-build control-label" for="dtp_input2">—</label>
                        <div  id="date2" class="date-box input-group date form_date" data-date="" data-date-format="yyyy mm dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                            <input ng-model="endDate" ng-change="end()" class="date-control form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="date-calendar glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input id="dtp_input2" type="hidden" value=""/><br/>
                    </div>
                </div>
            </form>
            <form class="inform-box2 row">
                <div class="state input-group">
                    <div class="state-text">状 态</div>
                    <select class="form-control" ng-model="selectState" ng-options="x.key as x.value for x in state">
                        <option value>全部</option>
                    </select>
                </div>
                <div class="type input-group">
                    <div class="type-text">类 型</div>
                    <select class="form-control" ng-model="selectType" ng-options="y.key as y.value for y in type">
                        <option value>全部</option>
                    </select>
                </div>
            </form>
            <form class="inform-box3 row">
                <button class="btn-search btn btn-success" ng-model="search" ng-click="searchBtn()">搜索</button>
                <button class="btn-clear btn btn-danger" ng-model="clear" ng-click="clearBtn()">清空</button>
            </form>
        </div>
    </div>
    <div class="manage panel panel-default container-fluid">
        <div class="manage-h panel-heading row">
            <div class="panel-title col-sm-3">Article管理</div>
            <button ng-click="newBtn()" class="manage-add btn btn-primary btn-xs">+ 新增</button>
        </div>
        <div class="manage-cont panel-body">
            <div class="panel panel-default">
                <table class="table">
                    <tr>
                        <th>序号</th>
                        <th>图片</th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>创建者</th>
                        <th>创建时间</th>
                        <th>修改时间</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="x in list">
                        <td>{{$index+1}}</td>
                        <td><img src="{{x.img}}" style="width: 60px;height: 60px"></td>
                        <td>{{x.title}}</td>
                        <td>{{x.type | types}}</td>
                        <td>{{x.author}}</td>
                        <td>{{x.createAt | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{x.updateAt | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{x.status | status}}</td>
                        <td>
                            <button class="btn btn-warning btn-sm" ng-model="line" ng-click="changeLine()">{{x.line}}</button>
                            <button class="btn btn-success btn-sm" ng-click="setBtn()">编辑</button>
                            <button class="btn btn-danger btn-sm" ng-click="delete()">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
            <pre-next></pre-next>
        </div>
    </div>
</div>
