/* line 5, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 19, ../scss/common.scss */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 4, ../scss/login.scss */
.login {
  height: 100vh;
  background-image: url("../img/desk.jpg");
  background-size: cover;
}
/* line 9, ../scss/login.scss */
.login .land {
  width: 3.6rem;
  height: 2.6rem;
  padding: .2rem;
  background-color: #d1d1d1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* line 17, ../scss/login.scss */
.login .land .title {
  font-size: .18rem;
  font-weight: bold;
  color: #0096d3;
}
/* line 22, ../scss/login.scss */
.login .land .name, .login .land .password {
  height: .4rem;
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: .3rem;
  background-color: white;
}
/* line 31, ../scss/login.scss */
.login .land .name img, .login .land .password img {
  height: .2rem;
  width: .2rem;
  margin-left: .05rem;
  margin-right: .05rem;
}
/* line 39, ../scss/login.scss */
.login .land .name input, .login .land .password input {
  width: 80%;
  font-size: .15rem;
  padding-left: .1rem;
  border-left: solid .01rem #d1d1d1;
}
/* line 46, ../scss/login.scss */
.login .land .password {
  margin-top: .15rem;
}
/* line 51, ../scss/login.scss */
.login .land .password img {
  width: .17rem;
  margin-left: .06rem;
  margin-right: .07rem;
}
/* line 59, ../scss/login.scss */
.login .land .point {
  height: .25rem;
  position: relative;
  top: .15rem;
  left: -.7rem;
  font-size: .14rem;
  color: red;
}
/* line 67, ../scss/login.scss */
.login .land .btn {
  height: .4rem;
  width: 90%;
  margin-top: .09rem;
  font-size: .16rem;
  font-weight: bold;
  background-color: #0096d3;
  border-radius: .03rem;
  cursor: pointer;
}
