@import "compass/reset";
@import "common";

.login {
  @extend %mid-center;
  height: 100vh;
  background-image: url("../img/desk.jpg");
  background-size: cover;
  .land {
    width: 3.6rem;
    height: 2.6rem;
    padding: .2rem;
    background-color: #d1d1d1;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: .18rem;
      font-weight: bold;
      color: $blue;
    }
    .name {
      height: .4rem;
      width: 90%;
      display: flex;
      align-items: center;
      margin: {
        top: .3rem;
      };
      background-color: white;
      img {
        height: .2rem;
        width: .2rem;
        margin:{
          left: .05rem;
          right: .05rem;
        }
      }
      input {
        width: 80%;
        font-size: .15rem;
        padding-left: .1rem;
        border-left: solid .01rem #d1d1d1;
      }
    }
    .password {
      @extend .name;
      margin: {
        top: .15rem;
      };
      img {
        width: .17rem;
        margin: {
          left: .06rem;
          right: .07rem;
        }
      }
    }
    .point {
      height: .25rem;
      position: relative;
      top: .15rem;
      left: -.7rem;
      font-size: .14rem;
      color: red;
    }
    .btn {
      height: .4rem;
      width: 90%;
      margin: {
        top: .09rem;
      };
      font-size: .16rem;
      font-weight: bold;
      background-color: $blue;
      border-radius: .03rem;
      cursor: pointer;
    }
  }
}
