<div ng-controller="slideCtrl">
    <div class="header">
        <a class="slide">萝卜多后台管理系统</a>
        <div class="role">管理员</div>
        <div class="name">admin</div>
        <a class="out glyphicon glyphicon-off" ng-click="out()"></a>
    </div>
    <div class="bigbox" style="display: flex">
        <div class="home-sidebar">
            <div class="sidebar-box" ng-repeat="x in sideBar">
                <div class="home-sidebar-title"
                     ng-click="getHomeTitle($index)">
                    <span class="glyphicon glyphicon-pencil icon"></span>
                    <span>{{x.sideBarTitle}}</span>
                    <span ng-class="ggtitle == $index?'glyphicon glyphicon-menu-down':'glyphicon glyphicon-menu-right'"></span>
                </div>
                <div class="home-sidebar-content"
                     ng-show="ggtitle == $parent.$index"
                     ng-repeat="y in x.sideBarContent"
                     ng-click="getHomeContent(y.sideBarName, $parent.$index)"
                     ng-class="{tcontent: ggcontent === y.sideBarName}">
                    <a ui-sref="{{y.url}}">
                        <span>{{y.sideBarName}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <div ng-model="welcome" ui-view="">
               {{welcome}}
            </div>
    </div>
</div>






